@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
//variables

//Primary colors
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan: hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

//Neutral colors
$transparent-white: hsla(0, 0%, 100%, 0.75); //paragraphs
$very-light-gray: hsl(0, 0%, 95%); //background, headings, buttons)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  text-align: center;
}
.attribution a {
  color: $bright-orange;
}

body {
  height: 100vh;
  font-size: 15px;
  background-color: $very-light-gray;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 3em auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-item {
  padding: 0 2.75em;
  max-width: 450px;

  .card-img {
    padding: 2.5em 0;
  }

  .card-heading {
    font-family: "Big Shoulders Display", cursive;
    color: $very-light-gray;
    font-size: 2.75em;
    text-transform: uppercase;
    margin-bottom: 0.75em;
  }

  .card-description {
    color: $transparent-white;
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 1.5em;
    line-height: 1.7em;
  }

  .learn-btn {
    padding: 1.125em 2.5em;
    border-radius: 30px;
    border: none;
    font-family: "Lexend Deca", sans-serif;
    margin-bottom: 3em;
    font-size: 1em;
    background-color: $very-light-gray;
    cursor: pointer;
  }
}

#card-1 {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: $bright-orange;

  .learn-btn {
    color: $bright-orange;
  }
}

#card-2 {
  background-color: $dark-cyan;

  .learn-btn {
    color: $dark-cyan;
  }
}

#card-3 {
  background-color: $very-dark-cyan;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;

  .learn-btn {
    color: $very-dark-cyan;
  }
}

@media (min-width: 800px) {
  .container {
    height: 100%;
    margin: 0 auto;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;

    .grid-item {
      position: relative;
      max-width: 350px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        z-index: 1;
      }
    }

    .card-heading {
      font-size: 3em;
    }

    .learn-btn {
      position: absolute;
      bottom: 1em;
    }
  }

  #card-1 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 7px;
  }

  #card-3 {
    border-top-right-radius: 7px;
    border-bottom-left-radius: 0px;
  }
}

footer {
  text-align: center;
}
